@import "tailwindcss";
@plugin '../app/hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {
	font-family: "Funnel Sans", sans-serif;
	font-size: 16px;
}
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 0.5em;
}
[data-slot="tabList"] {
	flex-wrap: wrap;
}
